.costbreak{
     margin: auto;
     background-color: #C3E6CD;
     border-top-right-radius: 20px;
     border-top-left-radius: 20px;
     margin-top: 4rem;
  }

  .summary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
   }
  /* .numbinfos{
    font-weight: 400;
    font-size: 14px;
   } */

  .borderless td, .borderless th {
    border : none;
   }
 
  thead tr {
    font-weight: 700;
    font-size: 20px;
  }

  thead th:first-child{   /* thead th */
  text-align: start;      
  }

  thead > tr th:last-child{
    text-align: end; /* color: red; */
  }

  tbody th:first-child{
   text-align: start;    /* tbody */
  }

  tbody  tr  td:last-child{
    text-align: end;
    font-weight: 700;
    font-size: 20px;
  }

  .pagenum{
    font-weight: 700;
    font-size: 20px;
  }

   .pagenames{
    font-weight: 400;
    font-size: 20px;
    color: #000000;
   }




