
.costbreak{
     margin: auto;
     background-color: #C3E6CD;
 
     width: 90%;
  }
.borderless td, .borderless th {
    border : none;
 }


 .dpages{
 
  font-weight: 700;
  font-size: 20px;
  color: #000000;
 }
 .dcost{

  font-weight: 700;
  font-size: 20px;
  color: #000000;
 }
 .pagenames{
  font-weight: 400;
  font-size: 20px;
  color: #000000;
 }

 .nbacdata{
   display: inline-flex ;
   gap:1px ;
   align-items: center;
   background-color: white;
   border-radius: 10px;
 }
 .reducebtn{
   border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px ;
  color: black;
 }

 .nbacchang{
   border-radius: 10px;
   background-color:  whitesmoke;
   text-align: center;
    width: 150px;
    padding: 10px ;
  }

 .incbtn{
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px ;
  color: black;
 }