.btnsdiv{
    display: inline-flex;
    justify-content: space-between;
    align-items: left;
    width: 10rem;
    height: 2rem;
    border-radius: 2rem;
    overflow: hidden;
    background-color: white;
    border: 1px solid whitesmoke;
}
 .nbacname{
    display: flex;
    align-items: center;
    width: 100%;
    /* border: 1px solid red; */
  } 
  .nbacname > span{
    align-items: center;
    background-color: orange;
    border-radius: 1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

 .minusbtn{
    border-radius: 50%;
    border: none;
    background-color: white;
  }
  .plusbtn{
    border-radius: 50%;
    border: none;
    background-color: white;
  }
